footer {
    padding: 58px 113px 50px 113px;
    background-color:black;

    @media (max-width:870px) {
        padding: 58px 50px 50px 50px;
       
    }

    @media (max-width:520px) {
        padding: 58px 30px 50px 30px;
       
    }
    
    .footer-inner {

        display: flex;

        @media (max-width:1100px) {
            flex-wrap: wrap;
           
        }

    .footer-sec-1{
        margin-right: 160px;

        .footer-logo {
            img {
                height: 40px;
            }
        }

        .footer-socials {
            margin-top: 95px;

            img {
                height: 18px;
                margin-right: 36px;
            }
        }

       
    }

    .footer-sec-2 {
        display: flex;
        width: 100%;
        justify-content: space-around;
        

        @media (max-width:520px) {
            flex-wrap: wrap;
            align-items: center;
        }

        div {

            ul {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                list-style: none;
                color: white;

                li {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 35px;
                }
            }
        }
    }

  }

  .copyright {
    color: white;
    margin-top: 55px;
}
}